/.vscode/
/WizardGameProject/woryn/.vs
/WizardGameProject/woryn/.vs/Woryn
WizardGameProject/woryn/.vs/Woryn/CopilotIndices/17.14.1347.20289/CodeChunks.db
WizardGameProject/woryn/.vs/Woryn/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
*.db
*.db
